*.class

# Package Files #
*.jar
*.war
*.ear

# files for the dex VM
*.dex

# Eclipse project files
.classpath
.project

# Android Studio
.idea/
.gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp