<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myapplication.home_page"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                       android:value=".SearchableActivity"/>
         </activity>

        <activity
            android:name="com.example.myapplication.endless_list_activity"
            android:label="@string/app_name"
            android:parentActivityName=".home_page">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home_page"/>
        </activity>

        <activity
            android:name="com.example.myapplication.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".endless_list_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".endless_list_activity" />
        </activity>
    </application>

</manifest>
